.u-section-1 {
  background-image: url("images/fnon.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-shape-1 {
  width: 579px;
  height: 308px;
  background-image: none;
  margin: 218px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 18px rgba(0,0,0,1);
  animation-duration: 1000ms;
  width: 550px;
  margin: -232px auto 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 213px;
  height: 213px;
  background-image: url("images/AI.jpg");
  background-position: 0% 50%;
  animation-duration: 1000ms;
  margin: -318px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 213px;
  height: 213px;
  background-image: url("images/run.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 41px auto 0 52px;
}

.u-section-1 .u-image-3 {
  width: 213px;
  height: 213px;
  background-image: url("images/hands.jpeg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: -425px 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 213px;
  height: 213px;
  background-image: url("images/carr.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
  margin: 52px 34px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 295px;
    margin-right: 295px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 231px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -305px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: 60px;
  }
}