.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  animation-duration: 1000ms;
  width: 235px;
  margin: 41px auto 60px;
}.u-section-2 {
  background-image: linear-gradient(250deg, #adf6f2, #4301b8);
  min-height: 1241px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/comp.jpg");
  background-position: 50% 50%;
  margin: 11px auto 0 calc(((100% - 1140px) / 2) + 147px);
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: -237px calc(((100% - 1140px) / 2) + 38px) 0 calc(((100% - 1140px) / 2) + 459px);
}

.u-section-2 .u-image-2 {
  width: 231px;
  height: 230px;
  background-image: url("images/gear2.png");
  background-position: 43.22% 50%;
  margin: 102px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -171px calc(((100% - 1140px) / 2) + 263px) 0 calc(((100% - 1140px) / 2) + 234px);
}

.u-section-2 .u-image-3 {
  width: 231px;
  height: 231px;
  background-image: url("images/gear1.png");
  background-position: 33.16% 50%;
  margin: 120px auto 0 calc(((100% - 1140px) / 2) + -59px);
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -227px calc(((100% - 1140px) / 2) + 263px) 0 calc(((100% - 1140px) / 2) + 234px);
}

.u-section-2 .u-image-4 {
  width: 250px;
  height: 247px;
  background-image: url("images/lelefurute.jpg");
  background-position: 37.55% 50%;
  margin: 92px auto 0 calc(((100% - 1140px) / 2) + 147px);
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: -207px calc(((100% - 1140px) / 2) + 38px) 60px calc(((100% - 1140px) / 2) + 459px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-top: -672px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 740px;
    margin-left: calc(((100% - 1140px) / 2) + 43px);
  }

  .u-section-2 .u-text-1 {
    margin-top: -486px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 297px);
  }

  .u-section-2 .u-image-2 {
    width: 286px;
    height: 286px;
    margin-top: 595px;
    margin-left: calc(((100% - 1140px) / 2) + 70px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -1134px;
    margin-right: calc(((100% - 940px) / 2) + 163px);
    margin-left: calc(((100% - 940px) / 2) + 134px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 969px;
    margin-left: calc(((100% - 1140px) / 2) + 179px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -1120px;
    margin-right: calc(((100% - 940px) / 2) + 163px);
    margin-left: calc(((100% - 940px) / 2) + 134px);
  }

  .u-section-2 .u-image-4 {
    width: 219px;
    height: 219px;
    margin-top: 151px;
    margin-right: calc(((100% - 1140px) / 2) + 447px);
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 297px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 153px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 77px);
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 180px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 53px);
    margin-left: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 289px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 53px);
    margin-left: calc(((100% - 720px) / 2) + 24px);
  }

  .u-section-2 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 337px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 77px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 243px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 1140px) / 2) + 270px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-top: 944px;
    margin-left: calc(((100% - 1140px) / 2) + 379px);
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    margin-top: 126px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 343px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    margin-top: 570px;
    margin-left: calc(((100% - 1140px) / 2) + 370px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-top: 919px;
    margin-right: calc(((100% - 1140px) / 2) + 430px);
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-4 {
    margin-top: 101px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}